<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the text analyzer, Enter your text bellow</h1>
        <form action="/analyze" method="get"> <br>
            <textarea name='text' style='margin:0px; width: 721px; height: 93px;'></textarea> <br>
            <input type="checkbox" name="removepunc">Remove Puchtuation <br>
            <input type="checkbox" name="fullCaps">UPPERCASE<br>
            <input type="checkbox" name="newlineremover">New Line Remover<br>
            <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
            <input type="checkbox" name="charcount">Count Character<br>
            <button type="submit">Analyse Text</button>
        </form>
</body>
</html>